---
layout: default
---

<main class="main-content">
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list-item">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <div>
            <header>
              <figure class="post-thumbnail"><img src="{{ site.baseurl }}{{ post.thumbnail }}" alt="「{{ post.title }}」のサムネイル"></figure>
              <h2 class="post-list-title">{{ post.title }}</h2>
              <div class="post-list-meta">
                <time class="post-list-time">{{ post.date | date: '%Y-%m-%d' }}</time>
              </div>
            </header>
            <div class="post-list-body">
              {{ post.excerpt }}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</main>
<aside class="sidebar">
  {% include sidebar.html %}
</aside>
