---
layout: default
---

<main class="main-content post">
  <article>
    <header class="post-header">
      <h1>{{ page.title }}</h1>
      <div class="post-list-meta">
        <time class="post-list-time">{{ page.date | date: '%Y-%m-%d' }}</time>
      </div>
      {% if page.thumbnail %}
        <figure class="post-thumbnail">
          <img src="{{ page.thumbnail | relative_url }}" alt="「{{ page.title }}」のサムネイル">
        </figure>
      {% else %}
        <figure class="post-thumbnail">
          <img src="{{ '/assets/images/sample.png' | relative_url }}" alt="「{{ page.title }}」のサムネイル">
        </figure>
      {% endif %}
    </header>
    <div class="post-content">
      {{ content }}
    </div>
  </article>
</main>
<aside class="sidebar">
  {% include sidebar.html %}
</aside>
